.heroDiv{
    background-image: url("https://image.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28312.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

